<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<p><%= t(".hello") %> <%= user_name("Thao") %></p>
<p>
    <%= t(".description") %>
    <%= link_to t(".contact_page"), Settings.external_links.rails_tutorial_contact %>.
</p>
