<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".description") %>
  <%= link_to t(".rails_tutorial_help_page"), Settings.external_links.rails_tutorial_help %>.
  <%= t(".book_info") %>
  <%= link_to Settings.external_links.rails_tutorial_book do %>
    <em><%= t(".ruby_on_rails_tutorial_book") %></em>
  <% end %>.
</p>
