<% provide :title, t("help.title") %>
<h1><%= t("help.title") %></h1>
<p><%= t("help.description") %>
    <a href="<%= Settings.external_links.rails_tutorial_help %>"><%= t("help.rails_tutorial_help_page") %></a>.
    <%= t("help.book_info") %> <a href="<%= Settings.external_links.rails_tutorial_book %>">
        <em><%= t("help.ruby_on_rails_tutorial_book") %></em></a>.
</p>
