<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
