<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= gravatar_for @user %><%= @user.name %></h1>
      <p><%= t(".joined", date: l(@user.created_at.to_date, format: :long)) %></p>
      <p><%= t(".email", email: @user.email) %></p>
      <% if @user.birthday.present? %>
        <p><%= t(".birthday", date: l(@user.birthday.to_date, format: :long)) %></p>
      <% end %>
      <% if @user.gender.present? %>
        <p><%= t(".gender", gender: t(".gender_options.#{@user.gender}")) %></p>
      <% end %>
      <p><%= t(".updated_at", date: l(@user.updated_at.to_date, format: :long)) %></p>
    </section>
  </aside>  
</div>
