<div class="micropost mb-3 p-3 border-bottom">
    <div class="content">
        <%= micropost.content %>
    </div>
    <div class="timestamp text-muted">
        <%= t("microposts.posted") %> <%= time_ago_in_words(micropost.created_at) %> <%= t("microposts.ago") %>
        <% if micropost.user.present? %>
            <%= t("microposts.by") %> <%= micropost.user.name %>
        <% end %>
    </div>
</div>
