<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared.micropost_form.placeholder") %>
  </div>
  <div class="field">
    <%= f.label :image, t("shared.micropost_form.image_label") %>
    <%= f.file_field :image, 
        accept: Settings.models.micropost.image_content_types.join(","), 
        id: "micropost_image",
        data: { max_file_size_mb: Settings.models.micropost.image_size_limit } %>
  </div>
  <%= f.submit t("shared.micropost_form.submit"), class: "btn btn-primary" %>
<% end %>
